$black: #222222;
$blue-dark: #0A4486;
$blue: #00B3CD;
// $blue-light: #00B3CD;
$orange: #FF662D;
$white: #ffffff;

@font-face {
    font-family: Redonta;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Redonda-Bold.otf');
}

@font-face {
    font-family: Redonta;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Redonda-ExtraBold.otf');
}

body{
    background: $black;
}

.container{
    max-width: 1460px !important;
}

h1, h2, h3, p, li{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

p{
    margin-bottom: 20px;
}

span.preco {
    font-weight: normal;
    font-size: 27px;
}

.btn-enter {
    text-transform: uppercase;
    border: 0;
    background-color: #FF662D;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 70px;
    font-weight: 600;
    font-family: 'Redonta';
    white-space: normal;
    &:hover {
        @extend .btn-enter;
      }
}

.parcelamento-em-baixo{
    margin-bottom: 0 !important;
}
small{
    color: $white !important;
    margin-bottom: 40px;
    font-size: 14px;
}
.parcelamento-em-cima{
    margin-top: 10px;
}

section {
	padding: 80px 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
#header{
    h1{
        font-weight: 900;
        color: $white;
        font-size: 31px;
        line-height: 40px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    h2{
        color: $white;
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .logo{
        width: 300px;
        height: auto;
        margin-bottom: 20px;
    }
    .heatmap{
        width: 100%;
    }
    p{
        color: $white;
        margin-bottom: 20px;
    }
    .scroll{
        color: #fff;
        position: absolute;
        margin: 0 auto;
        bottom: 20px;
        right: 0;
        left: 0;
        text-align: center;
    }
    .scroll:after {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        margin: auto;
        bottom: 10px;
        right: 0;
        left: 0;
        -webkit-animation: 3s arrow infinite ease;
        animation: 3s arrow infinite ease;
        border-right: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
}

#labirinto{
    background: $blue;
    p{
        color: #fff;
    }
    h3{
        font-weight: 900;
        color: $white;
        font-size: 31px;
        line-height: 40px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .description{
        color: $white;
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .labirinto{
        width: 100%;
    }
}

#conversao{
    @extend #header;
    .conversao{
        width: 100%;
    }
}

#recorrente{
    @extend #labirinto;
    .recorrente{
        width: 100%;
    }
}

#limites{
    @extend #header;
    .limites{
        width: 100%;
    }
}

#series{
    @extend #labirinto;
    // background: $black;
    img{
        margin-bottom: 20px;
    }
    .title{
        font-weight: bold;
        text-transform: uppercase;
    }
    .description{
        font-size: 16px;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        font-size: 80px;
        color: #fff;
        margin: -40px 5px -25px 5px;
    }
    .serie{
        padding: 15px;
        margin: 15px;
    }
}

#depoimentos{
    @extend #series;
    background: $black;
    .box{
        background: $blue;
        border-radius: 20px;
        padding: 15px;
        margin: 15px;
        box-shadow: 0 0 15px rgb(0 179 205 / 50%);
        min-height: 410px;
    }
    img{
        border-radius: 50%;
        max-width: 150px;
        display: block;
        margin: 0 auto 10px;
    }
    .name{
        font-weight: bold;
    }
    .depoimento{
        font-size: 16px;
        font-style: italic;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        font-size: 80px;
        color: #fff;
        margin: -20px 5px -25px 5px;
    }
}

#whatsapp{
    @extend #series;
    .btn-whatsapp{
        white-space: normal;
        text-transform: uppercase;
        border: 0;
        background-color: #23CC63;
        box-shadow: none;
        border-radius: 5px;
        padding: 20px 70px;
        font-weight: 600;
        font-family: 'Redonta';
        // &:hover {
        //     background-color: #23CC63;
        // }
    }
    .icon {
        margin-bottom: 0;
        width: 10%;
        height: auto;
        margin: 0 10px 0 0px;
    }
}

footer{
    padding: 20px 0;
    p{
        font-size: 14px;
        color: #fff;
    }
    small{
        color: #fff;
    }
    a{
        color: #fff;
    }
}

.obrigado{
    @extend #header;
    h1{
        color: $black;
        margin: 0;
    }
    p{
        color: $black;
    }
}

.box{
    background-color: $blue;
    padding: 30px;
    margin: 0 auto 30px;
    p{
        color: $white;
    }
    a{
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }
    .clique{
        color: $white !important;
        text-decoration: underline;
    }
}

.top{
    background: $black;
    padding: 30px 0;
    margin-bottom: 30px;
}

.footer-thanks{
    margin-bottom: 60px;
    margin: 0 auto;
    display: block;
    .btn-whatsapp{
        white-space: normal;
        text-transform: uppercase;
        border: 0;
        background-color: #23CC63;
        box-shadow: none;
        border-radius: 5px;
        padding: 20px 40px;
        font-weight: 600;
        font-family: 'Redonta';
        // &:hover {
        //     background-color: #23CC63;
        // }
    }
    .icon {
        margin-bottom: 0;
        width: 10%;
        height: auto;
        margin: 0 10px 0 0px;
    }

}

#prova-social{
    background: $blue;
    h1{
        font-weight: 900;
        color: $white;
        font-size: 31px;
        line-height: 40px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    p{
        color: #fff;
    }
}

#aula-experimental{
    @extend #header;
}

#garantia{
    @extend #prova-social;
}

#faq{
    @extend #header;
    .panel-default>.panel-heading {
        color: $black;
        background-color: $black;
        border-color: $black;

    }
    .panel-default {
        border-color: $black !important;
    }
    .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        color: $white;
        font-weight: normal;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body{
        background: $black;
        padding: 10px;
    }
    .panel-heading {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border-top-color: $black;
    }
    .checkout-text{
        color: $orange;
    }
    p{
        line-height: 35px;
    }
}

@media screen and (max-width: 767px){
    section{
        padding: 40px 0;
    }
    #labirinto{
        .labirinto{
            margin-bottom: 30px;
        }
    }
    #conversao{
        .conversao{
            margin-bottom: 30px;
        }
    }
    #recorrente{
        .recorrente{
            margin-bottom: 30px;
        }
    }
    #limites{
        .limites{
            margin-bottom: 30px;
        }
    }
    #series h3{
        margin-bottom: -10px;
    }
    #series .description{
        margin-bottom: -30px;
    }
    #depoimentos h3{
        margin-bottom: 20px;
        
    }
    #depimentos .box{
        min-height: 410px;
    }
    #depoimentos .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        margin: -35px 5px -25px 5px !important;
    }
    #whatsapp .btn-whatsapp{
        padding: 20px 25px;
    }
    #whatsapp h3{
        margin-bottom: 20px;
    }
}