@font-face {
  font-family: Redonta;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Redonda-Bold.otf");
}
@font-face {
  font-family: Redonta;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Redonda-ExtraBold.otf");
}
body {
  background: #222222;
}

.container {
  max-width: 1460px !important;
}

h1, h2, h3, p, li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

p {
  margin-bottom: 20px;
}

span.preco {
  font-weight: normal;
  font-size: 27px;
}

.btn-enter, .btn-enter:hover {
  text-transform: uppercase;
  border: 0;
  background-color: #FF662D;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px 70px;
  font-weight: 600;
  font-family: "Redonta";
  white-space: normal;
}
section {
  padding: 80px 0;
}

#header h1, .obrigado h1, #limites h1, #conversao h1 {
  font-weight: 900;
  color: #ffffff;
  font-size: 31px;
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 0;
}
#header h2, .obrigado h2, #limites h2, #conversao h2 {
  color: #ffffff;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 20px;
}
#header .logo, .obrigado .logo, #limites .logo, #conversao .logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}
#header .heatmap, .obrigado .heatmap, #limites .heatmap, #conversao .heatmap {
  width: 100%;
}
#header p, .obrigado p, #limites p, #conversao p {
  color: #ffffff;
  margin-bottom: 20px;
}
#header .scroll, .obrigado .scroll, #limites .scroll, #conversao .scroll {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
  right: 0;
  left: 0;
  text-align: center;
}
#header .scroll:after, .obrigado .scroll:after, #limites .scroll:after, #conversao .scroll:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  bottom: 10px;
  right: 0;
  left: 0;
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#labirinto, #series, #whatsapp, #depoimentos, #recorrente {
  background: #00B3CD;
}
#labirinto p, #series p, #whatsapp p, #depoimentos p, #recorrente p {
  color: #fff;
}
#labirinto h3, #series h3, #whatsapp h3, #depoimentos h3, #recorrente h3 {
  font-weight: 900;
  color: #ffffff;
  font-size: 31px;
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 0;
}
#labirinto .description, #series .description, #whatsapp .description, #depoimentos .description, #recorrente .description {
  color: #ffffff;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 20px;
}
#labirinto .labirinto, #series .labirinto, #whatsapp .labirinto, #depoimentos .labirinto, #recorrente .labirinto {
  width: 100%;
}

#conversao .conversao {
  width: 100%;
}

#recorrente .recorrente {
  width: 100%;
}

#limites .limites {
  width: 100%;
}

#series img, #whatsapp img, #depoimentos img {
  margin-bottom: 20px;
}
#series .title, #whatsapp .title, #depoimentos .title {
  font-weight: bold;
  text-transform: uppercase;
}
#series .description, #whatsapp .description, #depoimentos .description {
  font-size: 16px;
}
#series .owl-carousel .owl-nav button.owl-next, #whatsapp .owl-carousel .owl-nav button.owl-next, #depoimentos .owl-carousel .owl-nav button.owl-next, #series .owl-carousel .owl-nav button.owl-prev, #whatsapp .owl-carousel .owl-nav button.owl-prev, #depoimentos .owl-carousel .owl-nav button.owl-prev, #series .owl-carousel button.owl-dot, #whatsapp .owl-carousel button.owl-dot, #depoimentos .owl-carousel button.owl-dot {
  font-size: 80px;
  color: #fff;
  margin: -40px 5px -25px 5px;
}
#series .serie, #whatsapp .serie, #depoimentos .serie {
  padding: 15px;
  margin: 15px;
}

#depoimentos {
  background: #222222;
}
#depoimentos .box {
  background: #00B3CD;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 0 15px rgba(0, 179, 205, 0.5);
  min-height: 410px;
}
#depoimentos img {
  border-radius: 50%;
  max-width: 150px;
  display: block;
  margin: 0 auto 10px;
}
#depoimentos .name {
  font-weight: bold;
}
#depoimentos .depoimento {
  font-size: 16px;
  font-style: italic;
}
#depoimentos .owl-carousel .owl-nav button.owl-next, #depoimentos .owl-carousel .owl-nav button.owl-prev, #depoimentos .owl-carousel button.owl-dot {
  font-size: 80px;
  color: #fff;
  margin: -20px 5px -25px 5px;
}

#whatsapp .btn-whatsapp {
  white-space: normal;
  text-transform: uppercase;
  border: 0;
  background-color: #23CC63;
  box-shadow: none;
  border-radius: 5px;
  padding: 20px 70px;
  font-weight: 600;
  font-family: "Redonta";
}
#whatsapp .icon {
  margin-bottom: 0;
  width: 10%;
  height: auto;
  margin: 0 10px 0 0px;
}

footer {
  padding: 20px 0;
}
footer p {
  font-size: 14px;
  color: #fff;
}
footer small {
  color: #fff;
}
footer a {
  color: #fff;
}

.obrigado h1 {
  color: #222222;
  margin: 0;
}
.obrigado p {
  color: #222222;
}

.box {
  background-color: #00B3CD;
  padding: 30px;
  margin: 0 auto 30px;
}
.box p {
  color: #ffffff;
}
.box a {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
.box .clique {
  color: #ffffff !important;
  text-decoration: underline;
}

.top {
  background: #222222;
  padding: 30px 0;
  margin-bottom: 30px;
}

.footer-thanks {
  margin-bottom: 60px;
  margin: 0 auto;
  display: block;
}
.footer-thanks .btn-whatsapp {
  white-space: normal;
  text-transform: uppercase;
  border: 0;
  background-color: #23CC63;
  box-shadow: none;
  border-radius: 5px;
  padding: 20px 40px;
  font-weight: 600;
  font-family: "Redonta";
}
.footer-thanks .icon {
  margin-bottom: 0;
  width: 10%;
  height: auto;
  margin: 0 10px 0 0px;
}

@media screen and (max-width: 767px) {
  section {
    padding: 40px 0;
  }

  #labirinto .labirinto, #recorrente .labirinto, #series .labirinto, #depoimentos .labirinto, #whatsapp .labirinto {
    margin-bottom: 30px;
  }

  #conversao .conversao {
    margin-bottom: 30px;
  }

  #recorrente .recorrente {
    margin-bottom: 30px;
  }

  #limites .limites {
    margin-bottom: 30px;
  }

  #series h3, #depoimentos h3, #whatsapp h3 {
    margin-bottom: -10px;
  }

  #series .description, #depoimentos .description, #whatsapp .description {
    margin-bottom: -30px;
  }

  #depoimentos h3 {
    margin-bottom: 20px;
  }

  #depimentos .box {
    min-height: 410px;
  }

  #depoimentos .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    margin: -35px 5px -25px 5px !important;
  }

  #whatsapp .btn-whatsapp {
    padding: 20px 25px;
  }

  #whatsapp h3 {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
